@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswaldmedium.woff2") format("woff2"), 
    url("../fonts/oswaldmedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
}
  
  @font-face {
    font-family: "Oswald";
    src: url("../fonts/oswaldregular.woff2") format("woff2"), 
    url("../fonts/oswaldregular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}

:root {
    --basic-green: #68B738;
    --basic-white: #ffffff;
    --basic-gray: #D9D9D9;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.wrapper{
    width: 1220px;
    margin: 0 auto;
    border: 2px solid green
}

.title{
    font-family: Oswald;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
}


/* main - header */
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.navigation-list{
    display: flex;
}
.navigation-list__item{
    margin-right: 35px;
}
.navigation-list__item:last-child{
    margin-right: 0;
}
.navigation-list__link{
    font-family: Oswald;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-white);
}


/* promo */
.promo{
    border: 1px solid red;
}
.promo::after{
    content: '';
    display: block;
    width: 720px;
    height: 624px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background-image: url(../img/index-background-img-green.png);
}

.promo__content{
    padding-left: 83px;
    padding-right: 83px;
}
.promo__title{
    width: 414px;
    margin-bottom: 40px;
}
.promo__text{
    margin-bottom: 52px;
    font-family: Oswald;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.promo__link{
    display: block;
    width: 244px;
    padding: 14px 0;
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-green);
}

.promo__img{
    position: absolute;
}


/* programs */
.programs-list{
    display: flex;
    justify-content: space-between;
}

.programs-list__block{
    width: 570px;
    background-color: var(--basic-gray);
}


/* instructions */

.instructions__list{
    display: flex;
    justify-content: space-between;
}

.instructions__item{
    width: 250px;
}

.instructions__logo{
    width: 80px;
    height: 80px;
    background-color: var(--basic-green);
}

.instructions__logo--leaf{
    background-image: url(../img/icon_leaf.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.instructions__logo--tub{
    background-image: url(../img/icon_tub.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.instructions__logo--eat{
    background-image: url(../img/icon_eat.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.instructions__logo--alarm{
    background-image: url(../img/icon_alarm.svg);
    background-repeat: no-repeat;
    background-position: center;
}