@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswaldmedium.woff2") format("woff2"), 
    url("../fonts/oswaldmedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
}
  
  @font-face {
    font-family: "Oswald";
    src: url("../fonts/oswaldregular.woff2") format("woff2"), 
    url("../fonts/oswaldregular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}

:root {
    --basic-green: #68B738;
    --basic-white: #ffffff;
    --basic-gray: #D9D9D9;
    --secondary-gray: #f2f2f2;
    --light--gray: #CDCDCD;
    --secondary-green: #5EAA2F;
    --basic-black: #000000;
    --secondary-black: #222222;
    --light-dark: #444444;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
}

.wrapper{
    width: 1220px;
    margin: 0 auto;
}

.title{
    font-family: Oswald;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
}


/* main - header */
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding-top: 50px;
    /* position: relative;
    top: 55px; */
    z-index: 2;
}

.navigation-list{
    display: flex;
}
.navigation-list__item{
    margin-right: 35px;
}
.navigation-list__item:last-child{
    margin-right: 0;
}
.navigation-list__link{
    font-family: Oswald;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-white);
    transition: 0.2s;
}

.navigation-list__link:hover{
    opacity: 0.6;
}

/* promo */
.promo{
    padding-top: 100px;
    padding-bottom: 140px;
    margin-bottom: 150px;
}
.promo::after{
    content: '';
    display: block;
    width: 50%;
    min-height: 696px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background-image: url(../img/index-background-img-green.png);
    background-size: cover;

    /* background-repeat: no-repeat; */
}

.promo__content{
    position: relative;
    padding-left: 83px;
    padding-right: 83px;
}
.promo__title{
    width: 414px;
    margin-bottom: 40px;
}
.promo__text{
    margin-bottom: 52px;
    font-family: Oswald;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.promo__link{
    display: block;
    width: 244px;
    padding: 14px 0;
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-green);
    transition: 0.2s;
}

.promo__link:hover{
    background-color: var(--secondary-green);
}

.promo__img{
    position: absolute;
    top: -70px;
    left: 450px;
}


/* programs */
.programs-section{
    /* padding-top: 80px; */
    padding-bottom: 70px;
}
.programs-list{
    display: flex;
    justify-content: space-between;
}

.programs-list__block{
    position: relative;
    width: 570px;
    padding-top: 75px;
    padding-left: 50px;
    padding-bottom: 55px;
    padding-right: 50px;
    background-color: var(--basic-gray);
}

.programs-list__logo{
    position: absolute;
    top: 40px;
}
.programs-list__title{
    padding-left: 164px;
    margin-bottom: 70px;
    font-family: Oswald;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
}


/* instructions */

.instructions__title{
    margin-bottom: 30px;
}

.instructions__list{
    display: flex;
    justify-content: space-between;
}

.instructions__item{
    position: relative;
    width: 250px;
    min-height: 280px;
    padding-top: 30px;
    border: 1px solid red;
}

.instructions__item::after{
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: -5px;
    font-family: Oswald;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: var(--secondary-gray);
    z-index: -1;
}

.instructions__item--1::after{
    content: '1';
}
.instructions__item--2::after{
    content: '2';
}
.instructions__item--3::after{
    content: '3';
}
.instructions__item--4::after{
    content: '4';
}

.instructions__logo{
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
    background-color: var(--basic-green);
}

.instructions__logo--leaf{
    background-image: url(../img/icon_leaf.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.instructions__logo--tub{
    background-image: url(../img/icon_tub.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.instructions__logo--eat{
    background-image: url(../img/icon_eat.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.instructions__logo--alarm{
    background-image: url(../img/icon_alarm.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.instructions__text{
    color: var(--light-dark);
}

/* example */

.example{
    background-color: var(--secondary-gray);
}

.example__title-block{
    background-color: var(--basic-white);
}

.example__description-block{
    width: 436px;
    padding-top: 70px;
    padding-bottom: 75px;
}

.example__text{
    margin-bottom: 70px;
    color: var(--light-dark);
}
/* location */

.location{
    min-height: 400px;
}

/* footer */

.main-footer{
    background-color: var(--secondary-gray);
}

.main-footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
    padding-bottom: 62px;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

.social__link svg{
    fill: #666666;
}

.social__link:hover svg{
    fill: var(--basic-green);
}

.copyright{
    width: 163px;
}
.copyright__text{
    color: #444444;
    font-weight: 400;
}
.copyright__text span{
    text-transform: uppercase;
}

.copyright__link{
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.copyright__link .copyright__logo{
    fill: #666666;
}

.copyright__link:hover .copyright__logo{
    fill: var(--basic-green);
}




/****************/
/* Catalog page */
/****************/


.catalog-page .navigation-list__link{
    color: #111111;
    transition: 0.2s;
}

.catalog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 63px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 245px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 35px;
    background-color: var(--secondary-gray);
    position: relative;
    z-index: -3;
}

.catalog__item:last-child{
    max-height: 430px;
    border: 1px solid var(--secondary-gray);
    background-color: var(--basic-white);
}
.catalog__item:last-child .card__button{
    color: var(--light-dark);
    background-color: var(--basic-gray);
}

.card__top-background{
    height: 80px;
    background-color: #ffff;
    z-index: -2;
    padding-left: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.card__img{
    margin-bottom: 35px;
    z-index: -1;
}
.card__title{
    width: 145px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Oswald;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--secondary-black);
}

.card__table{
    width: 170px;
    margin-bottom: 30px;
    border: collapse;
}

.description-table__row{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
}
.description-table__title{
    font-weight: 400;
}
.card__button{
    width: 170px;
    padding: 10px 0;
    font-family: Oswald;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    color: var(--basic-white);
    background-color: var(--basic-green);
    cursor: pointer;
}